<configuration debug="false">


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <if condition='isDefined("LOCAL_DEV_LOGGING")'>
      <then>
        <encoder>
          <pattern>%date{yyyy-MM-dd HH:mm:ss}  [%thread]  %-5level - %logger{0}:%line: %msg %n
          </pattern>
        </encoder>
      </then>
      <else>
        <encoder>
          <pattern>%date{yyyy-MM-dd HH:mm:ss} [%thread]  %-5level - %logger{0}:%line: %msg %replace(%ex){'\n', '&#xd;'}%nopex%n
          </pattern>
        </encoder>
      </else>
    </if>
  </appender>

  <logger name="app.dassana.core" level="${LOG_LEVEL:-INFO}"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
